//variables
$primaryColor:    #21C2E0;
$backgroundColor: #D2EDEC;
$fontColor:          #2182F6;
$subFontColor:   #033088;
$fontStack:        Alegreya, 'Times New Roman';
$sansStack:     'Open Sans', sans-serif;
$gradColor:         rgba(33,194,224,1.0);
$gradTo:            rgba(137,237,255,1.0);
$transparentWhite: rgba(234,234,234,0.80);
//images?
$stegoPic: "https://openclipart.org/image/2400px/svg_to_png/222933/Stegosaurus.png";

//fonts

@import url('https://fonts.googleapis.com/css?family=Alegreya|Open+Sans')
